.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.link {
  text-decoration: none;

  .card {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    border: 1px dashed #343434;
    margin: 0 2rem;
    box-shadow: 10px 10px 0 #b3b3b3;
    transition: 0.5s;
    background-color: #eee;
    &:hover {
      box-shadow: 5px 5px 0 var(--aquent-orange);
      background-color: #fff;
    }
    .text {
      padding: 0;
      margin: 2rem;
      transition: 0.5s;
      &:hover {
        color: #343434;
      }
    }
  }
}
